---
import "..//styles/style.css";
const { name, race, color, weight, sex, age, location, price } = Astro.props;
---

<h2>{name}</h2>

<section class="grid grid-cols-2">
  <div class="grid grid-cols-2">
    <div class="flex">
      <img src="ikoner/paw.svg" alt="race" />
      <div><h3>Race</h3> <p>{race}</p></div>
    </div>

    <div class="flex">
      <img src="ikoner/color.svg" alt="race" />
      <div><h3>Color</h3> <p>{color}</p></div>
    </div>

    <div class="flex">
      <img src="ikoner/weight.svg" alt="race" />
      <div><h3>Weight</h3> <p>{weight}</p></div>
    </div>

    <div class="flex">
      <img src="ikoner/sex.svg" alt="race" />
      <div><h3>Sex</h3> <p>{sex}</p></div>
    </div>

    <div class="flex">
      <img src="ikoner/age.svg" alt="race" />
      <div><h3>Age</h3> <p>{age}</p></div>
    </div>
    <div class="flex">
      <img src="ikoner/location.svg" alt="race" />
      <div><h3>Location</h3> <p>{location}</p></div>
    </div>
    <div class="flex">
      <img src="ikoner/price.svg" alt="race" />
      <div><h3>Price</h3> <p>{price}</p></div>
    </div>
  </div>

  <div><img src="adoption/basse.webp" alt="basse" /></div>
</section>

<section class="grid grid-cols-2">
  <div>
    <h3>Hvem er {name}?</h3>
    <p>
      Hvad ender man med at ligne, når ens mor er Schæfer/Golden Retriever/Berner Sennen og far er Siberian Husky/Border Collie?

      <p>Så ligner man Basse, for det er lige nøjagtig den vilde blanding han er, og hvor ER han bare smukt faldet ud. Han er svært at få øjnene fra.</p>

      <p>Basse er blot 7 måneder gammel, og det er en svær alder, hvor alt kan føles som lidt op ad bakke, men vi er sikre på, at finde hans helt rette match, der er klædt på til opgaven.</p>
    </p>
  </div>

  <div class="row-span-2">
    <h3>Sociale egenskaber</h3>
    <p>
      Han skulle efter sigende være rigtig god i sin omgang med andre hunde, og har man en neutraliseret højenergisk og veltrænet tæve i forvejen, kunne det rette hundematch godt blive en stor hjælp i forhold til arbejdet med Basse, så det kommer vi til at lægge vægt på.

      <p>Denne meget charmerende fyr er ikke egnet som førstegangshund, og der skal være super god tid og overskud til ham i kommende hjem. Han er god og kærlig i sin grundkerne, men naturligvis på nuværende tidspunkt en usleben diamant, der GLÆDER sig til at havne det helt rette sted, og udvikle sig til universets sødeste, sjoveste og dygtigste hund.</p>
    </p>
  </div>

  <div>
    <h3>{name}'s fortid</h3>
    <p>Tidligere ejer har nemlig måtte kaste håndklædet i ringen, da Basse er en højenergisk dreng, der kræver RIGTIG meget korrekt stimuli, for at han er i balance og vedblive med at være en god hund på den anden side af teenageårene. Basse indtil nu boet i lejlighed og primært været i bur hele tiden. Det er jo naturligvis ikke sådan man skal have hvalp/hund, og han skal derfor nu ud til det stikmodsatte!</p>
    <p>Basse har brug for lande i landlige omgivelser, hvor der er højt til loftet, åbne vidder, stor portion tålmod, kærlige rammer og masser af træning, og man kommer ikke sovende til denne opgave. Man skal betragte ham som en hvalp, hvor alt skal trænes forfra, for Basse er hverken renlig eller kan være alene hjemme.</p>
  </div>
</section>

<style>
  .info-card {
    display: grid;
    grid-template-columns: 400px 400px 1fr;
  }

  .flex {
    gap: var(--spacing-xs);
  }

  div {
    gap: var(--spacing-xs);
  }

</style>
